.small-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.small-card img{
	width: 204px;
	height: 200px;
	border-style: dotted;
    border-color: black;
}

.small-card h5{
	font-size: 13px;
    margin: 0px 10px 20px;
}
   